@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Objective-Regular;
    src: url(./assets/fonts/Objective-Regular.woff) format("woff");
  }
  @font-face {
    font-family: Objective-Medium;
    src: url(./assets/fonts/Objective-Medium.woff) format("woff");
  }
  @font-face {
    font-family: Objective-Bold;
    src: url(./assets/fonts/Objective-Bold.woff) format("woff");
  }
}

*{
  padding:0;
  margin:0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //background-color: #161B33;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
